* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {
    background-color: #fffbf8;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*-----colour pallette-------
    
    black:      #111111; ------ rgba(17, 17, 17)
    light gray: #f8f8f8; ------ rgba(248, 248, 248)
    red:        #E65C4F; ------ rgb(230,92,79)
   
    -------------------------*/
