.addVideosContainer {
    width: 100vw;
    /* height: 72vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AddVideoTitle {
    display: block;
    width: 80%;
    font-size: 1.5em;
    line-height: 1.2;
    text-align: center;
    margin: 12px 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #a1aab4;
    border-bottom: 2px solid #cbd1d6;
}

.addVideosHeader {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    color: #a1aab4;
    text-align: center;
}
.AddVideos-form {
    width: 80vw;
    padding: 5px 0;
    /* background: rgba(225, 227, 228); */
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.addVideosLabel {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    padding-bottom: 1em;
}
.AddVideo-input {
    text-align: right;
    direction: rtl;
    width: 80%;
    height: 30px;
    padding-left: 15px;
    border-radius: 6px;
    border: none;
    color: #000000;
    font-weight: 500;
    background-color: #fffbf8;
    -webkit-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    -moz-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}

.AddVideos-textarea {
    text-align: right;
    direction: rtl;
    width: 80%;
    height: 150px;
    padding-left: 15px;
    border-radius: 6px;
    border: none;
    color: #000000;
    background-color: #fffbf8;
    background-color: #fffbf8;
    -webkit-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    -moz-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}

.AddVideos-btn {
    width: 100px;
    height: 50px;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: rgb(176, 232, 35);
    font-size: 1em;
    background-color: rgba(13, 9, 9, 0.5);
}

.AddVideo-url {
    text-align: left;
    direction: ltr;
    width: 80%;
    height: 30px;
    padding-left: 15px;
    border-radius: 6px;
    border: none;
    color: #000000;
    font-weight: 500;
    background-color: #fffbf8;
    -webkit-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    -moz-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}
