.HomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date {
    width: 90vw;
    text-align: right;
    color: #a1aab4;
}
.headContainer {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-top: 1.5em;
}
.headRight {
    width: 50%;
}
/* .headline {
    width: 100%;
} */
.headTitle {
    display: block;
    font-size: 1.5em;
    border-bottom: 2px solid #cbd1d6;
    padding-bottom: 5px;
    /* margin: 12px 0; */
    margin-bottom: 10px;
    color: #a1aab4;
    line-height: 1.2;
    text-align: right;
    /* width: 100%; */
}

.headMiddle {
    width: 45%;
    padding-right: 20px;
    text-align: right;
    line-height: 2;
}

.headLeft {
    width: 45%;
    padding-right: 20px;
}

.headline {
    display: block;
    font-size: 1.2em;
    border-bottom: 2px solid #cbd1d6;
    padding-bottom: 5px;
    margin-bottom: 10px;
    line-height: 1.2;
    text-align: right;
}

.lastVideoSec {
    width: 90%;
    margin-top: 1.5em;
    text-align: right;
}

.generalInfoSec {
    width: 90%;
    margin-top: 1.5em;
}
