.mainContainer {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer {
    width: 25vw;
    text-align: center;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    border-radius: 13px;
}
.loginForm {
    width: 25vw;
    padding: 20px 0;
    background-color: #cfd2cf;
    /* transition: 0.2s; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 13px;
    border: 1.5px solid gray;
}

.loginTitle {
    font-weight: 300;
    color: rgb(53, 61, 69);
}

.loginUl {
    list-style-type: none;
    padding: 0;
}
.loginInput {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 20vw;
    border: 1px solid #ffdf00;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, 0.2);
    outline: none;
}

.loginBtn {
    color: black;
    background: #f0e130;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    width: 50%;
    font-size: large;
}
.loginBtn:hover {
    background-color: rgb(189, 76, 65);
    border: 1px solid rgb(217, 82, 69);
}
