.newsTitle {
    display: block;
    font-size: 1.5em;
    border-bottom: 2px solid #cbd1d6;
    padding-bottom: 5px;
    margin: 12px 0;
    margin-bottom: 10px;
    /* padding-top: 20px; */

    color: #a1aab4;
    line-height: 1.2;
    text-align: right;
    width: 93%;
}
