/* AllVideos */
/*------------------*/
.AllVideosTitle {
    display: block;
    width: 100%;
    font-size: 1.5em;
    line-height: 1.2;
    text-align: right;
    margin: 12px 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #a1aab4;
    border-bottom: 2px solid #cbd1d6;
}
/* LastVideos */
/*------------------*/
.lastVideoContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
